.header {
    font-size: 30px;
    padding: 0 8rem;
    display: flex;
    height: 50px;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: #fafaf6;
}

.header a{
    text-decoration: none;
}

.header-home{

}

.header-login{

}