*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.body{
  margin-top: 56px;
}

.post-preview{
  max-width: 70%;
  height: 240px;
  margin: 50px auto 50px;
  display: flex;
  border: 2px solid rgba(61, 80, 153, 0.8);
  border-radius: 16px;
}

.post-title{
  display: block;
  font-size: 24px;
  text-decoration: none;
  color : #EE2E31;
  font-weight: bold;
}

.post-preview img{
  max-width: 240px;
  max-height: 240px;
  display: block;
  padding: 2px ;
  border-radius: 16px;
}

.posts-container{
  width: 100%;
  padding: 16px ;
}

.post-info{
  display: flex;
}

.col3{
  width: 33%;
}

.post-preContent{
  overflow:  hidden;
  height: 100%;
  max-height: 70px;
  margin: 10px 0;
}

.post-learnMore{
  margin: 0;
  background-color: #fa4949;
  border-radius: 8px;
  padding: 8px 16px;
}

.learn-csv{
  display: flex;
  justify-content: flex-end;
}
.csv .export{
  margin: 0px 10px;
}

.export a:hover{
  background-color: #009fe7;

}

.learn-more a:hover{
  background-color: #ff0000;
}

.csv a{
  background-color: #65c9f6;
  border-radius: 8px;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
}

.learn-more a{
  text-decoration: none;
  color: #fff;
}

.loading{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 9999999;
  top: 0;
}

.pagination {
  justify-content: center;
  margin: 30px auto 60px;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #65c9f6 ;
  border-color: #65c9f6 ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #65c9f6 ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #65c9f6 ;
  border-color: #65c9f6;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #65c9f6
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}


