*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.blog-preview{
  margin: 50px 100px 0;
  display: flex;
}

.blog-preview .blog-title{
  font-size: 24px;
  text-decoration: none;
  color :rgb(26, 90, 164);
  font-weight: bold;
}

.blog-preview img{
  height: 172px;
  width: 30%;
}

.blog-preview .blog-preview-container{
  width: 100%;
  margin-left: 24px;
  border-width: 1px;
  border-style: solid;
  padding: 8px ;
}

.blog-preview .blog-infor{
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
}

.blog-preview .blog-preContent{
  height: 64px;
  margin: 8px 0;
}

.blog-infor p {
  width: 33%;
}

.blog-preview .blog-learnMore{
  float: right;
  text-decoration: none;
  color: blue;
}