@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 187, 255);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-family: Lato, sans-serif;
    padding: 5px 5px 5px 40px;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    max-height: 90px;
}

.nav-logo {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    user-select: none;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    align-self: center;

}

.nav-links a:hover {
    background: rgb(42, 105, 130);
}

.sign-in-icon {
    display: inline-block;
    margin-right: 0.8em;
}



.header-username {
    pointer-events: none
}