@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.newPost {
    background: #8a96a3;
    width: 70%;
    margin: 16px auto;
    font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.newPost-header,
.newPost p {
    margin-top: 0;
    margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.newPost-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #28d;
}

.newPost-header {
    background: #28d;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.newPost-container {
    background: #f1f0f0;
    padding: 12px;
    margin-top: 110px;
}

/* Every row inside .newPost-container is defined with p tags */
.newPost p {
    padding: 12px;
}

.newPost input, .newPost textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}
.newPost textarea{
    height: 300px;
    resize: none;
}
.newPost input[type="email"],
.newPost input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
}

/* Text fields' focus effect */
.newPost input[type="email"]:focus,
.newPost input[type="password"]:focus {
    border-color: #888;
}

.newPost input[type="submit"] {
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.newPost input[type="submit"]:hover {
    background: #17c;
}

/* Buttons' focus effect */
.newPost input[type="submit"]:focus {
    border-color: #05a;
}

.page-title{
    text-align: center;
    color: #17c;
    font-size: 30px;
}